# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
backend/data/
*.h5
*.pt
*.task
.venv/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
brain/
logs/
temp/
.DS_Store
frontend/test.txt
frontend/tailwind.config.js
